body {
  font-size: 16px;
  background-color: rgb(237, 117, 117);
  color: white;
  padding: 20px 0px;
}

.welcome {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.majDiv button,
.minDiv button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: black;
  color: red;
  font-weight: bold;
  display: block;
}

.majDiv button {
  background-color: #e5ed84;
}

.minDiv button {
  background-color: #84a9ed;
}

h4 {
  color: rgb(10, 15, 1);
  display: inline-block;
  vertical-align: top;
}

.majorIon,
.majorLyd,
.majorMix,
.minor,
.minorDor,
.minorPhr,
.minorAeo,
.ionAeo,
.lydDor,
.mixPhr {
  font-family: impact;
  background-color: inherit;
}

.majorIon {
  background-color: rgb(255, 242, 0);
}

.majorLyd {
  background-color: rgb(231, 199, 103);
}

.majorMix {
  background-color: rgb(243, 150, 106);
}

.minor {
  background-color: #10e726;
}

.minorDor {
  background-color: #84a9ed;
}

.minorPhr {
  background-color: #09ec6f;
}

.minorAeo {
  background-color: #09ecd9;
}

.ionAeo {
  background-color: rgb(255, 242, 0);
  display: flex;
  flex-wrap: nowrap;
}

.lydDor {
  background-color: rgb(236, 148, 14);
}

.mixPhr {
  background-color: rgb(236, 14, 236);
}

@media only screen and (min-width: 768px) {
  .majDiv button,
  .minDiv button {
    width: auto;
    display: inline-block;
  }
  .alphaLetters {
    display: flex;
    flex-wrap: wrap;
  }
}
