body {
  font-size: 16px;
  background-color: rgb(237, 117, 117);
  color: white;
  padding: 20px 0px;
}

.welcome {
  animation-duration: 3s;
  animation-name: slidein;
}

/* ... other CSS rules ... */

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  .ionAeo {
    font-family: impact;
    background-color: rgb(255, 242, 0);
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .ionAeo h4 {
    font-size: 18px;
    margin: 0;
  }

  .ionAeo .minDiv,
  .ionAeo .majDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ionAeo button {
    margin: 10px;
    padding: 10px;
    background-color: #e5ed84;
    color: red;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    width: auto;
  }

  .ionAeo .majorIon {
    background-color: rgb(255, 242, 0);
    width: 100%;
  }

  .ionAeo .minorAeo {
    background-color: #09ecd9;
  }
}

.alphaLetters {
  background-color: rgb(243, 243, 237);
  display: flex;
  flex-wrap: nowrap;
}
