body {
  font-size: 16px;

  background-color: rgb(237, 117, 117);
  color: white;
  padding: 20px 0px;
}

.welcome {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.majDiv button {
  width: auto;
  margin: 10px 0;
  padding: 10px;
  background-color: black;
  color: red;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;

  background-color: #e5ed84;
}

.minDiv button {
  width: auto;
  margin: 10px 0;
  padding: 10px;
  background-color: black;
  color: red;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;

  background-color: #84a9ed;
}

h4 {
  color: rgb(10, 15, 1);
  display: inline-block;
  vertical-align: top;
}

.majorIon {
  font-family: impact;
  background-color: rgb(255, 242, 0);
}

.majorLyd {
  font-family: impact;
  background-color: rgb(231, 199, 103);
}

.majorMix {
  font-family: impact;
  background-color: rgb(243, 150, 106);
}

.minor {
  font-family: impact;
  background-color: #10e726;
}

.minorDor {
  font-family: impact;
  background-color: #84a9ed;
}

.minorPhr {
  font-family: impact;
  background-color: #09ec6f;
}

.minorAeo {
  font-family: impact;
  background-color: #09ecd9;
}

.ionAeo {
  font-family: impact;
  background-color: rgb(255, 242, 0);
  display: flex;
  flex-wrap: nowrap;
}

.lydDor {
  font-family: impact;
  background-color: rgb(236, 148, 14);
}

.mixPhr {
  font-family: impact;
  background-color: rgb(236, 14, 236);
}

@media only screen and (min-width: 768px) {
  button {
    width: auto;
    padding: 10px 20px;
  }
}

.alphaLetters {
  background-color: rgb(243, 243, 237);
  display: flex;
  flex-wrap: nowrap;
}

/* Styles for small screen sizes */
@media (min-width: 320px) {
  /* Additional styles for small screens */
}

/* Styles for medium screen sizes */
@media (min-width: 768px) {
  /* Additional styles for medium screens */
}

/* Styles for large screen sizes */
@media (min-width: 1200px) {
  /* Additional styles for large screens */
}

@media only screen and (max-width: 767px) {
  .ionAeo {
    font-family: impact;
    background-color: rgb(255, 242, 0);
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .ionAeo {
    max-width: 100%;
    overflow-x: scroll;
  }
}
